<div class="page-header">
    <h1>欢迎来到严选模板工程</h1>
</div>
<div class="section">
    <shark-checkbox [label]="'同意协议'" [(ngModel)]="checked"></shark-checkbox>
    <p>使用模板工程需按规范编写代码:</p>
</div>
<div class="section">
    <p>
        <br />模板工程使用angular作为基础框架:
        <br /><a href="http://yx.mail.netease.com/doc/fed" target="_blank">http://yx.mail.netease.com/doc/fed</a>
    </p>
</div>
<div class="section">
    <p>
        <br />关于tslint:
        <br />1. 全局安装tslint 和 typescript， npm install tslint typescript -g
        <br />2. vscode安装TSLint插件，编码过程中会自动提示有无风格错误。
        <br />3. 手动测试，npm run tslint
    </p>
</div>
<div class="section">
    <a href="http://you.163.com" target="_blank">
        <img src="../../../../assets/img/baner.jpg" alt="demo bg" width="100%">
    </a>
</div>